.map_wrapper {
    position: relative;
}

#map {
    width: 100vw;
    height: 100vh;
}

.map__loading_bar.active {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    overflow: hidden;

    background-color: #5f5fe32f;
}

.map__loading_bar.active:before {
    content: '';

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #5f5fe3;
    height: 10px;
    /*box-shadow: 0 0 40px #5f5fe3;*/
    background: radial-gradient(circle, rgba(95,95,227,1) 0%, rgba(95,95,227,1) 51%, rgba(226,230,255,0.1) 100%);
    animation-name: modal_loading_blink;
    animation-iteration-count: infinite;
    /*animation-fill-mode: none;*/
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes modal_loading_blink {
    0% {
        opacity: 0;
        width: 0;
    }

    30% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        width: 400px;
        opacity: 0;
    }
}